
.title {
    color: #55348e;
    font-size: 6.5vw;
    font-weight: 500;
}


.subtitle {
    color: #8172a0;
    font-size: 5.5vw;
    font-weight: 500;
}

@media only screen 
and (min-width: 530px)
and (max-width: 659px) {
    .title {
        font-size: 5vw;
    }

    .subtitle {
        font-size: 3.5vw;
    }
}

@media only screen 
and (min-width: 660px)
and (max-width: 1086px) {
    .title {
        font-size: 4vw;
    }
    
    .subtitle {
        font-size: 2.5vw;
    }
}

.hero {
    display: flex;
    padding: 2.5rem .1rem 1.5rem .2rem;
    width: 92%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
}


@media only screen 
and (min-width: 1087px) {
    .title {
        font-size: 3.5vw;
    }
    
    .subtitle {
        font-size: 2.5vw;
    }
    .section {
        padding-left: .25rem;
    }
}

div.contained {
    max-width: 1000px;
}