.section {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
    padding: 20px;
    margin: 20px 32px;
    box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.2), 0 -1px 5px 0 rgba(0,0,0,0.1);
    position: relative;
}

span.emphasis {
    font-weight: 600;
}

.header {
    font-weight: 400;
    margin-bottom: 0;
}
/* 

fg .    bg
black + white
#111 . #ddd + #fff 

white + maroon
#fff + #85144B 

navy + gray
#001F3F / #ddd

aqua  +  navy
#001F3F . #7FDBFF or #111

yellow + navy
#FFDC00 + #001F3F

silver/white + navy


white + purple
#faf8fe . #6200f2
#001F57
white + mist/stone/shadow/autumn foliage
#90AFC5 #336B87
#2A3132 #763626
#505160 #68829E
#324851
*/